<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="app.less" type="text/css" rel="stylesheet/less">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- JS from Bower Components -->
    <script src="bower_components/less.js/dist/less-1.6.2.js" data-concat="false"></script>
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="<%= routerJs %>"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <!-- Add New Bower Component JS Above -->


    <!-- Main App JS -->
    <script src="app.js"></script>
    <!-- Add New Component JS Above -->
    <!-- Add New Directive JS Above -->
    <!-- Add New Filter JS Above -->
    <!-- Add New Service JS Above -->
    <!-- Add New Partial JS Above -->
  </head>
  <body ng-app="<%= _.camelize(appname) %>">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view></ion-nav-view>
  </body>
</html>
